tmp
/test
/build
node_modules
/package.json
/pnpm-lock.yaml
/.vscode
/.idea
/.svelte-kit
/.fleet
/.github
/coverage
/.yarn
/.verdaccio/build/local-registry
/dist
/.env
CODEOWNERS

/.nx/cache

.pnpm-store

/.nx/workspace-data